<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}

  <meta charset="utf-8">
  <title>Home - Custom Startup</title>
  <link rel="stylesheet" href="{% static 'static/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <header>
    <a href="{% url 'home' %}" class="logo">CustomStartup</a>
  </header>
  <main>
    <section id="hero">
      <h1>Welcome to <span>Custom Startup</span></h1>
      <p>Revolutionize your business with our cutting-edge solutions.</p>

    </section>
  </main>
</body>
</html>
